@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.skeleton-shimmer {
  background: linear-gradient(90deg,
      rgba(244, 244, 245, 1) 25%,
      rgba(228, 228, 231, 1) 37%,
      rgba(244, 244, 245, 1) 63%);
  background-size: 200% 100%;
  animation: shimmer 1.2s ease-in-out infinite;
}


.marquee-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  padding: 10px 0;
}

.marquee-track {
  display: inline-flex;
  min-width: 200%;
  animation: marqueeMove 20s linear infinite;
}

.marquee-item {
  display: inline-block;
  padding-right: 80px;
  font-size: 14px;
  font-weight: 500;
}

@keyframes marqueeMove {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}